<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" :mini-variant="miniVariant" :clipped="clipped" fixed app>
      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- APP BAR -->
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-btn v-for="(item, i) in items" :key="i" :to="item.to" router text exact>
        {{ item.title }}
      </v-btn>
      <!-- EXPERIMENTAL
        <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn> -->
      <v-spacer />
      <v-btn icon depressed>
        <v-icon small>mdi-discord</v-icon>
      </v-btn>
      <v-btn depressed @click.stop="rightDrawer = !rightDrawer">
        Sign In
      </v-btn>
    </v-app-bar>
    <v-main>
      <!-- NUXT -->
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <!-- R DRAWER -->
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>mdi-repeat</v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- FOOTER -->
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }} {{ title }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Home",
          to: "/"
        },
        {
          icon: "mdi-chart-bubble",
          title: "About",
          to: "/about"
        },
        {
          icon: "mdi-chart-bubble",
          title: "Events",
          to: "/events"
        },
        {
          icon: "mdi-chart-bubble",
          title: "Roster",
          to: "/roster"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Fight Club"
    };
  }
};
</script>
